<mz-modal class="modal-popup">
  <mz-modal-content>
    <div class="title-modal-popup">Tem certeza que deseja excluir ?</div>
    <br>
    <div class="row">
      <div class="col s2" style="color: hsl(0, 0%, 41%)">
        <i mz-icon [align]="'right'" [icon]="'description'" [size]="'medium'"></i>
      </div>
      <div class="col s10">
        <span class="col s12">{{ model.Description }}</span>
        <span class="col s12">{{ model.Url }}</span>
        <span class="col s12">Data de atualização: {{ model.DateRefresh }}</span>
      </div>
    </div>
  </mz-modal-content>
  <mz-modal-footer class="modal-footer2">
    <button class="waves-effect btn-flat green-sys" (click)="delete()" mz-modal-close>
            <i class="material-icons left">done</i> Sim</button>

    <button class="waves-effect btn-flat" mz-modal-close>
                <i class="material-icons left">clear</i> Não</button>
  </mz-modal-footer>
</mz-modal>
