<div class="row">
  <div class="col s12">
    <!-- Filtro -->
    <div class="card">

      <!-- Botões -->
      <div class="fixed-action-btn horizontal btn-filter">
        <a class="btn-floating waves-effect waves-light btn-large pulse2 red">
              <i class="material-icons">menu</i>
            </a>
        <ul>
          <li><a class="btn-floating waves-effect waves-light blue" (click)="create()"><i class="material-icons">add</i></a></li>
          <li><a class="btn-floating waves-effect waves-light green" (click)="loadData()"><i class="material-icons">search</i></a></li>
          <!-- <li><a class="btn-floating waves-effect waves-light green"><i class="material-icons">publish</i></a></li>
          <li><a class="btn-floating waves-effect waves-light blue"><i class="material-icons">attach_file</i></a></li> -->
        </ul>
      </div>

      <div class="card-content">
        <span class="card-title">Filtro</span>
        <hr class="grey lighten-4" />

        <!-- Campos -->
        <div class="row">
          <div class="col s12">
            <div class="input-field col s6">
              <input id="txtDescricao" type="text" />
              <label for="txtDescricao">Descrição</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">date_range</i>
              <input id="txtDataAtualizacao" type="text" />
              <label for="txtDataAtualizacao">Data de atualização</label>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Grid -->
    <div class="card margin-top-40" [hidden]="lstSecureKeys.length <= 0">
      <div class="card-content">
        <table class="bordered highlight responsive-table">
          <thead>
            <tr>
              <th>Descrição</th>
              <th>Url</th>
              <th>Última atualização</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of lstSecureKeys; let i = index">
              <td> {{ item.Description }} </td>
              <td> {{ item.Url }} </td>
              <td> {{ item.DateRefresh }}</td>
              <td>
                <mz-dropdown [id]="'dropdown-demo' + i" [align]="'right'" [stopPropagation]="false" [belowOrigin]="true" [constrainWidth]="false"
                  [dropdownButtonId]="'btn-dropdown' + i" class='dropdown-content'>
                  <mz-dropdown-item><a href="javascript:void(0)" (click)="view(item)"><i class="material-icons">visibility</i>Visualizar</a></mz-dropdown-item>
                  <mz-dropdown-item><a href="javascript:void(0)" (click)="edit(item)"><i class="material-icons">create</i>Editar</a></mz-dropdown-item>
                  <mz-dropdown-item><a href="javascript:void(0)" (click)="delete(item)"><i class="material-icons">delete</i>Excluir</a></mz-dropdown-item>
                </mz-dropdown>
                <div class="right hide-on-med-and-down">
                  <a class="btn-grid-group waves-effect waves-light" [id]="'btn-dropdown' + i"><i class="material-icons">more_vert</i></a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<a (click)="teste()">clice aqui</a>
