<app-menu-principal></app-menu-principal>

<mz-navbar>
  <a [id]="'btn-sidenav'" href="#" data-activates="slide-out" class="button-collapse text-green" style="display: block;" [ngClass]="canShowMenuPrincipal ? '': 'visible-hidden'">
    <i class="material-icons">menu</i>
  </a>
  <a href="#" [routerLink]="'/home/index'" class="text-green">Portal</a>
  <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li>
      <a id="btn-dropdown-menu-user" href="javascript:void(0)" [ngClass]="'text-green normal'">
        {{ user.Name }}<i [class]="'right'" mz-icon [align]="'center'" [icon]="'account_circle'" [size]="'small'"></i>
      </a>
    </li>
  </ul>
  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item>

      <!-- Dropdown user -->
      <mz-dropdown [id]="'menu-user'" [align]="'right'" [belowOrigin]="true" [constrainWidth]="false" [dropdownButtonId]="'btn-dropdown-menu-user'"
        [gutter]="true" [inDuration]="300" [outDuration]="300" [stopPropagation]="true">
        <mz-dropdown-item>
          <a href="#" (click)="logout()">Sair</a>
        </mz-dropdown-item>
      </mz-dropdown>
    </mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>
<!--
<div class="container margin-top-40" [@routerTransition]="page.activatedRouteData">
  <router-outlet #page="outlet"></router-outlet>
</div> -->


<div class="container margin-top-40" [@routerTransition]>
    <router-outlet></router-outlet>
  </div>
