<mz-sidenav [id]="'sidenav'" [collapseButtonId]="'btn-sidenav'">
  <!-- Header menu -->
  <mz-sidenav-header>
    <div class="user-view">
      <div class="background">
        <img src="http://materializecss.com/images/office.jpg">
      </div>
      <a href="#!user"><img class="circle" src="http://materializecss.com/images/yuna.jpg"></a>
      <a href="#!name"><span class="white-text name">Usuário</span></a>
      <a href="#!email"><span class="white-text email">E-mail</span></a>
    </div>
  </mz-sidenav-header>

  <!-- Description menu -->
  <mz-sidenav-subheader>Geral</mz-sidenav-subheader>

  <!-- Links menu -->
  <mz-sidenav-link routerLinkActive="active">
    <a href="#" routerLink="/home/index">
          <i mz-icon [icon]="'home'"></i>
          Página Inicial
      </a>
  </mz-sidenav-link>
  <mz-sidenav-divider></mz-sidenav-divider>
  <mz-sidenav-link routerLinkActive="active">
    <a href="/general/keys" routerLink="/general/keys">
        <i mz-icon [icon]="'vpn_key'"></i>
        Guarda senhas
    </a>
  </mz-sidenav-link>
</mz-sidenav>

<mz-navbar>
  <a [id]="'btn-sidenav'" href="#" data-activates="slide-out" class="button-collapse" style="display: block;">
        <i class="material-icons">menu</i>
  </a>

  <mz-navbar-item-container [align]="'right'">
    <mz-navbar-item>
      <a href="#" id="btn-dropdown-user-app">
          <i class="material-icons right">arrow_drop_down</i>Nome
      </a>
    </mz-navbar-item>
  </mz-navbar-item-container>

  <!-- Dropdown -->
  <mz-dropdown [id]="'dropdown-user-app'" [belowOrigin]="true" [dropdownButtonId]="'btn-dropdown-user-app'" [gutter]="true"
    [outDuration]="300" [stopPropagation]="true">
    <mz-dropdown-item><a href="#">Sair</a></mz-dropdown-item>
  </mz-dropdown>

</mz-navbar>

<div class="container margin-top-40">
  <router-outlet></router-outlet>
</div>
