<app-menu-principal></app-menu-principal>

<mz-navbar>
  <a [id]="'btn-sidenav'" href="#" data-activates="slide-out" class="button-collapse" style="display: block;" *ngIf="canShowMenuPrincipal">
    <i class="material-icons">menu</i>
  </a>
  <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item>
        <a href="#" (click)="logout()">
          <i mz-icon [align]="'right'" [icon]="'forward'"></i>
          Sair</a>
      </mz-navbar-item>
  </mz-navbar-item-container>
</mz-navbar>

<div class="container margin-top-40">
  <router-outlet></router-outlet>
</div>
