<div class="row">
    <h3 class="col s12 light center header">Portal - Sistema para gestão</h3>
</div>

<span>Lista de tarefas:</span>

<ul>
  <li>1 - Criar sistema para exibição de mensagens</li>
  <li>2 - Captura de mensagem para exibir error (DisplayValidation - try catch)</li>
  <li>3 - Paginador</li>
  <li>4 - Atualização do grid</li>
  <li>5 - Mudar cores do tema</li>
  <li>7 - Tela de login</li>
  <li>8 - WebApi</li>
  <li>9 - Autenticação via token</li>
  <li>10 - Parametros usuário</li>
  <li>11 - Menu dinamico</li>
  <li>12 - Esquema de permição e autorização</li>
  <li>13 - Bradcrumb</li>
  <li>...</li>
</ul>
