<div class="row">
    <h3 class="col s12 light center header">Portal - Sistema para gestão</h3>
</div>

<span>Lista de tarefas:</span>

<ul>
  <li>1 - OK - Criar sistema para exibição de mensagens</li>
  <li>2 - OK - Captura de mensagem para exibir error (DisplayValidation - try catch)</li>
  <li>3 - OK - Paginador</li>
  <li>4 - OK - Atualização do grid</li>
  <li>5 - OK - Mudar cores do tema</li>
  <li>7 - OK - Tela de login</li>
  <li>8 - OK - WebApi</li>
  <li>9 - OK - Autenticação via token</li>
  <li>10 - Parametros usuário</li>
  <li>11 - OK - Menu dinamico</li>
  <li>12 - Ok - Esquema de permição e autorização</li>
  <li>13 - Bradcrumb</li>
  <li>14 - OK - Modal Excluir</li>
  <li>15 - Atualizar grid após operação</li>
  <li>16 - OK - IziToast</li>
  <li>17 - Landing Page</li>
  <li>18 - Animação</li>
  <li>19 - Login criar usuário</li>
  <li>...</li>
  <li>99 - Teste do sistema - Permissão, dados do usuário </li>
</ul>
