<mz-modal class="modal-md" [fixedFooter]="true">
  <mz-modal-header>
    <h5 class="title-modal-custom">
      Guarda senha
    </h5>
    <hr class="grey lighten-4">
  </mz-modal-header>
  <mz-modal-content>

    <form [formGroup]="secureKeyModel" (ngSubmit)="save()">
      <div class="row">
        <div class="input-field col s12">
          <label for="txtDescription">Descrição</label>
          <input mz-input mz-validation required data-length="150" id="txtDescription" type="text" class="form-control" formControlName="Description" />
          <display-validation [control]="secureKeyModel.controls.Description"></display-validation>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <mz-select-container>
            <select mz-select mz-validation required [placeholder]="'Selecione o login'" formControlName="TypeKey">
              <option *ngFor="let item of listTypeKeys" [ngValue]="item.key">{{ item.Value }}</option>
            </select>
            <!-- <display-validation [control]="secureKeyModel.controls.TypeKey"></display-validation> -->
          </mz-select-container>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="txtUrl">Url</label>
          <input mz-input mz-validation required data-length="150" id="txtUrl" type="text" class="form-control" formControlName="Url" />
          <!-- <display-validation [control]="secureKeyModel.controls.Url"></display-validation> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <label for="txtLogin">Login</label>
          <input mz-input mz-validation required data-length="150" id="txtLogin" type="text" class="form-control" formControlName="Login" />
          <!-- <display-validation [control]="secureKeyModel.controls.Login"></display-validation> -->
        </div>
        <div class="input-field col s6">
          <label for="txtPassword">Senha</label>
          <input mz-input mz-validation required data-length="150" id="txtPassword" type="text" class="form-control" formControlName="Password" />
          <!-- <display-validation [control]="secureKeyModel.controls.Password"></display-validation> -->
        </div>
      </div>
    </form>

  </mz-modal-content>
  <mz-modal-footer>
    <button class="waves-effect btn-flat green-sys" [disabled]="!isValidCustom()" (click)="save()">
      <i class="material-icons left">save</i>Salvar</button>
    <button class="waves-effect btn-flat" mz-modal-close>
      <i class="material-icons left">clear</i>Fechar</button>
  </mz-modal-footer>
</mz-modal>
