/* You can add global styles to this file, and also import other style files */
header,
main,
footer {
  padding-left: 300px;
}
body{    background-color: #f1f1f1;}
hr {
  border-color: rgba(255, 255, 255, 0.34);
}


/*** Preloader ***/
.pre-loader {
  border: 6px solid #f3f3f3; border-radius: 50%; border-top: 6px solid #009688; width: 55px; height: 55px;
  -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; margin: auto; position: sticky; vertical-align: middle; top: 40%;
}
.pre-loader-bg{ background:rgba(39, 39, 39, 0.5); position: fixed; z-index: 99999;  width: 100%; height: 100%; }
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*** Class ***/
.btn-filter {
  position: absolute;
  right: 15px;
  bottom: -28px;
}
.margin-top-40{margin-top: 40px}
.btn-grid-group { cursor: pointer;}
.title-modal-custom{ margin-bottom: -5px;}
i.left{margin-right: 5px;}

/*** Identifiers ***/



/*** Media Queries ***/
@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
