/* You can add global styles to this file, and also import other style files */
header,
main,
footer {
  padding-left: 300px;
}
body {
  background-color: #f1f1f1;
}
hr {
  border-color: rgba(255, 255, 255, 0.34);
}

/*** Preloader ***/
.pre-loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #009688;
  width: 55px;
  height: 55px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  position: sticky;
  vertical-align: middle;
  top: 40%;
}
.pre-loader-bg {
  background: rgba(39, 39, 39, 0.5);
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*** Class ***/
.blue { background-color: #0466ff !important; }
.btn-filter {
  position: absolute;
  right: 15px;
  bottom: -28px;
}
.margin-top-40 {
  margin-top: 40px;
}
.btn-grid-group {
  cursor: pointer;
}
.title-modal-custom {
  margin-bottom: -5px;
}
i.left {
  margin-right: 5px;
}

.iziToast-body b {
  font-weight: 600;
}
.iziToast-body {
  padding-left: 15px !important;
}
.message-success .iziToast-cover {
  background-color: #43a047;
}
.message-error .iziToast-cover {
  background-color: #ff3d00;
}
.message-info .iziToast-cover {
  background-color: #039be5;
}
.message-warning .iziToast-cover {
  background-color: #ffab00;
}

.text-blue {
  color: #0d47a1;
}
.text-red {
  color: #e53935;
}
.modal-popup .modal {
  max-height: 60%;
  width: 30%;
  top: 25% !important;
}
.title-modal-popup {
  font-size: 17px;
}
.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.spinner {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #009688;
  width: 45px;
  height: 45px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: auto;
  position: absolute;
  right: 50%;
  vertical-align: middle;
  top: 40%;
  z-index: 1;
}
.hidden { display: none; }
.visible-hidden{ visibility: hidden; }
.loading { opacity: 0.4 !important; pointer-events: none; }
input { margin: 0 0 10px 0 !important;}
.form-group .form-control { margin-bottom: 3px; }
.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label{
  font-size:15px;
}
.ngx-pagination .current {    background: #26a69a !important;}
.modal-md .modal { width: 70%; min-height: 80%;  }
.green-sys { color: #26a69a; }
.nav-wrapper { background-color: #26a69a; }
.background-user { background: url('http://cdn.lucasvinicius.net/images/background/bg_material_design.png'); background-size: cover }
/*** Identifiers ***/
#bgvid {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  zoom: 0;
  background: url("http://cdn.lucasvinicius.net/images/background/bg_portal1.jpg") no-repeat;
  background-size: cover;
}

#bgvid_opacity {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.40);
  width: 100%;
  height: 100vh;
}

/*** Media Queries ***/
@media only screen and (max-width: 992px) {
  header,
  main,
  footer {
    padding-left: 0;
  }
}
