<mz-modal class="modal-popup">
    <mz-modal-content>
      <div class="title-modal-popup">Alterar senha</div>
      <br>
      <div class="row">

        akljkldklsjdkl kldj
        <!-- <div class="col s2">
          <i mz-icon [align]="'right'" [icon]="'description'" [size]="'medium'"></i>
        </div>
        <div class="col s10">
          <span class="col s12">{{ model.Description }}</span>
          <span class="col s12">{{ model.Url }}</span>
          <span class="col s12">Data de atualização: {{ model.DateRefresh }}</span>
        </div> -->
      </div>
    </mz-modal-content>
    <mz-modal-footer class="modal-footer2">
        <button mz-button [flat]="true" mz-modal-close>Disagree</button>
        <button mz-button [flat]="true" mz-modal-close>Agree</button>
    </mz-modal-footer>
  </mz-modal>
