<mz-modal class="modal-popup">
  <mz-modal-content>
    <div class="row">
      <div class="col s12">
          <div class="title-modal-popup">Alterar senha</div>
      </div>
    </div>

    <form [formGroup]="changePasswordModel" (ngSubmit)="save()">
      <div class="row">
        <div class="input-field col s12">
          <label for="txtOldPass">Senha antiga</label>
          <input mz-input mz-validation required data-length="150" id="txtOldPass" type="password" class="form-control" formControlName="OldPassword"
          />
          <display-validation [control]="changePasswordModel.controls.OldPassword"></display-validation>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <label for="txtNewPassword">Nova senha</label>
          <input mz-input mz-validation required data-length="150" id="txtNewPassword" type="password" class="form-control" formControlName="NewPassword"
          />
          <display-validation [control]="changePasswordModel.controls.NewPassword"></display-validation>
        </div>
      </div>
    </form>

  </mz-modal-content>
  <mz-modal-footer class="modal-footer2">
    <button class="waves-effect btn-flat green-sys" [disabled]="!isValidCustom()" (click)="save()">
      <i class="material-icons left">save</i>Salvar</button>
    <button class="waves-effect btn-flat" mz-modal-close>
      <i class="material-icons left">clear</i>Fechar</button>
  </mz-modal-footer>
</mz-modal>